<header class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <h1 class="center-block">Quote Generator</h1>
      </div>
    </div>
  </div>
</header>


<section class="quotes">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xs-12">
				<blockquote id="output">
					<%= render @quote_of_day %>
				</blockquote>
			</div>
		</div>
	</div>
</section>
<%= render partial: 'category', collection: @categories %>
<%= link_to "Random", quotes_url, class: 'getquote' %>
<%= link_to "Origin", root_url, id: 'go_home' %>
