<header class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xs-12 text-column">
        <h1 class="center-block">Quote Generator</h1>
      </div>
    </div>
  </div>
</header>

<div id="output"></div>

<a href="#" id="getquote">Get Quote</a>
